* {font-family: 'Pretendard', sans-serif; letter-spacing:-0.17px; color:#1b1d1f; line-height:1;}


/* pc 배경 */
.pcBg {position: fixed; z-index:-1; width:100%; height: 100%; background:#eef4fd; top:0; left:0; right:0; bottom:0;}
.pcBg .inner {position:fixed; max-width:496px; right:50.8%; top:14.8%; z-index: 10;}
.pcBg .inner p:first-child {width:264px; margin-bottom: 12px;}
.pcBg .inner p:first-child img {width:100%;}
.pcBg .inner p.txt {margin:24px 0 72px; font-size: 24px; line-height:30px; letter-spacing:-0.24px; font-weight:500;}
.pcBg .inner p.txt span {font-weight:700; position:relative;}
.pcBg .inner p.txt span::before {content:''; display: block; width:100%; height:12px; background:#ffde74; position: absolute; bottom:0; left:0; z-index: -1;}
.pcBg .inner ul {display: flex; align-items: center;}
.pcBg .inner ul li {margin-right:8px}
.pcBg .inner ul li a {display: block; width:232px; height: 56px; border-radius:18px; background:#e8ebed; text-align: center; font-size:17px; font-weight:600; line-height:56px;}
.pcBg .inner ul li.kakao a {color:#000; background:#fae100;}
.pcBg .inner ul li.kakao a img {display: inline-block; width:30px; vertical-align: middle;}
.pcBg .bgImg {position: absolute; bottom:4.4%; right:50.8%; width:415px}
.pcBg .bgImg img {width: 100%;}

body::-webkit-scrollbar {display: none;}
body {-ms-overflow-style: none; scrollbar-width: none;}


/* 헤더 */
header {position: fixed; top:0; left:0; right:0; max-width:496px; margin:0 0 0 50.8%; z-index: 100;}
header .inner {padding:0 16px; height: 44px; background: #fff;}
header .inner ul {display: flex; align-items: center; justify-content: space-between; height: 100%;}
header .inner ul li a {width:24px}
header .inner ul li a img {width: 100%;}
header .inner ul li a.logo {display:block; width:194px; display: none;}
header .inner ul li a.my {display: block; width:24px;}
header .inner ul li.my p {font-size: 16px; font-weight:600;}


/* 푸터 */
footer {background:#013994; padding:16px 0; color:#fff; font-size: 12px; font-weight:400; text-align:center;}


/* 메인 */
#wrap {max-width:496px; margin:0 0 0 50.8%; padding-top:44px; box-shadow: 0 0 25px 0 rgba(65, 72, 255, 0.1); background: #fff; min-height:100%; position:relative; }
#wrap #contents {min-height:calc(100vh - 88px);}


/* 상단 공통 */
.conTop {padding:12px 16px 32px }
.conTop .logo {width:193px; margin: 12px 0;}
.conTop .logo img {width: 100%;}
.conTop .logoUnderTxt {font-size: 24px; font-weight: 600; line-height: 30px;}
.conTop .logoUnderTxt span {position:relative;z-index:1}
.conTop .logoUnderTxt span::before {content:''; display: block; width:100%; height:12px; background:#ffde74; position: absolute; bottom:0; left:0; z-index: -1;}

/* 폼 공통 */
.formLayout {padding:0 16px 12px;}
.formLayout dl {padding-top: 40px;}
.formLayout dl:first-child {padding:0;}
.formLayout dl dt {font-size: 17px; font-weight: 400; color:#26282b; padding-bottom: 20px;}
.formLayout dl dt span {font-size: 14px; font-weight: 400; display: block; padding-top: 8px; color:#9ea4aa;}
.formLayout dl dd {width:100%;}
.formLayout .btnBox {margin:52px 0 0}
.formLayout dl.cell dd > div {position: relative;}
.formLayout dl.cell dd > div.sendNum {margin-top: 24px;}
.formLayout dl.cell dd > div a, .formLayout dl.cell dd > div span {position: absolute; top:50%; transform:translateY(-50%); right:0;}
.formLayout dl.cell dd > div a {display:inline-block; font-size: 17px; font-weight:600; color:#013994;}
.formLayout dl.cell dd > div span {font-size: 17px; font-weight: 400;color:#d32f2f;}
.formLayout > label {display: flex; align-items: center; justify-content: space-between;}
.formLayout > label a {display:inline-block; position: relative; padding-bottom: 1px;}
.formLayout > label a::before {content:''; display: block; width:calc(100% - 40px); height:1px; background:#1b1d1f; position: absolute; bottom:0; right:0;}
.formLayout > label p {width:calc(100% - 68px);}
.formLayout > label p {font-size: 16px; font-weight: 500; color:#1b1d1f; line-height: 22px;}
.formLayout > label p span {display: inline-block; color:#013994;}
.formLayout > label.error p, .formLayout > label.error p span {color:#d32f2f !important;}
.formLayout dl.adress dd input {margin-bottom: 24px;}
.formLayout dl.adress dd input:nth-child(3) {margin:0;}
.formLayout dl.adress dd > div {position: relative;}
.formLayout dl.adress dd > div a {font-size: 17px; font-weight: 600; color:#013994; position: absolute; display: inline-block; top:0; right:0;}
.formLayout dl.message dd {position: relative;}
.formLayout dl.message dd a {font-size: 17px; font-weight: 600; color:#013994; position: absolute; display: inline-block; top:0; right:0;}

p.caption {margin:40px 0; text-align:left;font-size: 16px; font-weight:400; line-height:22px; color:#72787f; padding-left:16px; position: relative;}
p.caption::before {content:''; display: block; width:8px; height:8px; border-radius:50%; position: absolute; top:5px; left:0; background:#ffc303}

input, textarea {outline: none; position: relative;}
input[type="radio"], input[type="checkbox"] {width:32px; height:32px; appearance: none !important; background:transparent !important;  transition:all .2s;}
input[type="radio"]::before {content:''; display:block;width:100%; height:100%; position:absolute; top:0; left:0; z-index:1; background:url(/images/common/radioOff_icon.png)no-repeat center/cover; transition:all .2s;}
input[type=radio]:checked::before {background:url(/images/common/radioOn_icon.png)no-repeat center/cover;}
input[type="checkbox"]::before {content:''; display:block;width:100%; height:100%; position:absolute; top:0; left:0; z-index:1; background:url(/images/common/checkOff_icon.png)no-repeat center/cover; transition:all .2s;}
input[type=checkbox]:checked::before {background:url(/images/common/checkOn_icon.png)no-repeat center/cover;}
input[type="button"] {text-align: left; color:#9ea4aa !important; font-weight: 400 !important;}
input[type="text"], input[type="password"], input[type="button"] {width:100%; padding-bottom: 11px; border:0 !important; border-bottom:1px solid #e8ebed !important; font-size: 17px; font-weight:600; color:#1b1d1f;}
input[type="password"].error, input[type="text"].error, input[type="button"].error {border-bottom: 1px solid #d32f2f !important;}
p.error {font-size: 14px; font-weight: 400; color:#d32f2f; padding-top:7.5px;}
input::placeholder {font-size: 17px; font-weight:400; color:#9ea4aa}

/* 팝업 딤 */
body.off {position:fixed;width:100%; left:0; overflow: hidden;}
.dim {position: fixed; top:0; left:0; right:0; bottom:0; z-index: 110; background:rgba(0,0,0,.5);max-width:496px; margin:0 0 0 50.8%; display: none;/* transition:opacity .4s, visibility .4s; opacity: 0; visibility: hidden;*/}
/*.dim.on {visibility: visible; opacity: 1;}*/
.dim .popBox .btn {width:100%; padding:0} 
.dim .popBox .btn button, .dim .popBox .btn a {cursor: pointer; display:block; width:100%; height:56px; line-height:56px; text-align: center; border-radius:18px; font-size:17px; font-weight:600; color:#72787f; border:0;  color:#fff; background:#013994;}
.dim .popBox .btn button.nonAct {color: #72787f; background:#f7f8f9; cursor: default;}

/* 페이드팝업 */
.dim.fade {text-align: center;}
.dim.fade .popBox {position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); background:#fff; border-radius: 18px; width:calc(100% - 32px); padding:28px 16px 20px;}
.dim.fade p {font-size: 17px; font-weight: 400; color:#72787f; line-height:25px; padding:16px 0;}
.dim.fade p.tit {line-height:24px; font-size:20px; font-weight:600; padding:0; color:#1b1d1f}
.dim.fade .popBox .btn a.dimClosed { color: #72787f; background:#f7f8f9; margin-top: 8px;}

/* 바텀팝업 */
.dim.up .popBox {position: absolute; bottom:-100%; left:0; right:0; background:#fff; border-radius:20px 20px 0 0; padding:24px 16px 80px; transition: bottom .4s;}
.dim.up.on .popBox {bottom:0;}
.dim.up .popBox .top {display: flex; align-items: center; justify-content: space-between; padding-bottom: 24px;}
.dim.up .popBox .top h2 {font-size: 20px; font-weight: 600;}
.dim.up .popBox .top a {width:24px; display: block;}
.dim.up .popBox .top a img {width:100%;}
.dim.up .popBox .con {position: relative; overflow-y: auto;-ms-overflow-style: none; scrollbar-width: none; padding-bottom: 20px;}
.dim.up .popBox .con::-webkit-scrollbar {width:3px;}
.dim.up .popBox .con::-webkit-scrollbar-thumb {background:#e8ebed; border-radius: 3px;}
.dim.up .popBox .btn {position:absolute; bottom:0; left:0; padding:12px 16px; z-index: 2; background: #fff; margin:0; max-width:100%;}

/* 취소 팝업 */
.dim.cen .popBox .btn a {color: #72787f; background:#f7f8f9; margin-top: 8px;}
.dim.cen .popBox .btn a.dimClosed {background:#013994;color:#fff;}


/* 완료 공통 */
.Done {background:#eef4fd; padding-bottom:20px;}
.Done .DoneBox {text-align:center; width:calc(100% - 32px); padding:0 16px 20px; border-radius: 20px; box-shadow: 0 0 25px 0 rgba(65, 72, 255, 0.1); margin:0 auto;}
.Done .DoneBox > a {width:100%; height:56px; line-height:56px; font-size: 17px; font-weight:600; color:#fff; background:#013994; border-radius:18px; text-align: center;}
.Done .DoneBox > a.gray { color: #72787f; background:#f7f8f9; margin-top: 12px;}
.Done.modify {padding-bottom:71px;}
.Done.modify .DoneBox {background:#fff url(/images/bg/modify.png)no-repeat center top 24px; background-size:263px; padding-top:384px;}
.Done.join {padding-bottom:20px;}
.Done.join .DoneBox {background:#fff url(/images/bg/join.png)no-repeat center top 40px; background-size:263px;}



/* 버튼 */
.btnBox a, .btnBox button {width:100%; height:56px; line-height:56px; text-align: center; border-radius:18px; font-size:17px; font-weight:600; color:#72787f; border:0; background:#f7f8f9}
.btnBox a:first-child, .btnBox button {color:#fff; background:#013994; cursor: pointer; margin-bottom: 12px;}
.btnBox a.checkBtn {background:#e8ebed}





/* 리사이징 */
@media screen and (max-width: 1024px){
    .pcBg .inner, .pcBg .bgImg {display:none;}
    header, #wrap, .dim, .getResult .result_nav, .terms .btn {margin:0 auto !important;}
}

@media screen and (max-width: 500px){
    .pcBg {display:none;}
    header, #wrap, .dim, .getResult .result_nav, .terms .btn {max-width:100% !important;}
}

@media screen and (max-height: 920px){
    .pcBg .bgImg {width:365px}
}

@media screen and (max-height: 870px){
    .pcBg .bgImg {width:315px}
}

@media screen and (max-height: 820px){
    .pcBg .bgImg {width:255px}
}

