
/* 푸터 없애고 높이 조절 */
footer {display: none;}
#wrap #contents {min-height:calc(100vh - 44px); background:#eef4fd}

/* 데이터 삭제 */
.dataDelete {padding-bottom:20px;}
.dataDelete .DoneBox {text-align:center; background:#fff url(/images/bg/data.png)no-repeat center top 40px; background-size:191px; width:calc(100% - 32px); padding:278px 16px 20px; border-radius: 20px; box-shadow: 0 0 25px 0 rgba(65, 72, 255, 0.1); margin:0 auto;}
.dataDelete .DoneBox p.tit {font-size: 18px; font-weight: 600; padding:0 0 20px;}
.dataDelete .DoneBox p.deletCon {background:#f6f7f8; padding:16px 0; border-radius: 15px; font-size: 15px; line-height: 21px; color:#26282b;}
.dataDelete .DoneBox p.deletCon span {color:#c9cdd2;}
.dataDelete .DoneBox p.caption {margin:20px 0 12px;}
.dataDelete .DoneBox p.caption:nth-last-child(3) {margin:0 0 52px}

/* 데이터삭제 완료 */
.Done.modify.data .DoneBox  {background:#fff url(/images/bg/data.png)no-repeat center top 24px; background-size:263px;}

/* 수거신청 완료 */
.Done.get {padding-bottom:62px;}
.Done.get .DoneBox {background:#fff url(/images/bg/pickUp.png)no-repeat center top 24px; background-size:120px; padding-top:164px; }
.Done.get .DoneBox h2 {text-align:center; font-size: 20px; font-weight: 600; color:#1b1d1f; padding-bottom:8px; line-height: 22px;}
.Done.get .DoneBox h2 span {display: inline-block; color:#ffc303; border-bottom: 2px solid #ffc303;}
.Done.get .DoneBox p {text-align:left; margin-top: 16px; position: relative; font-size: 16px; line-height: 22px; color:#72787f; font-weight:400; padding-left:22px}
.Done.get .DoneBox p span {color:#72787f; display: inline-block; font-size: 12px; position: absolute; top:4px; left:0}
.Done.get .DoneBox a {margin-top: 52px;}

/* 반려동물 정보 수정 완료 */
.Done.modify.ani .DoneBox  {background:#fff url(/images/bg/ani_modify.png)no-repeat center top 24px; background-size:263px;}
