
/* reset */
* {margin:0;padding:0;border-radius:0;box-shadow:none;box-sizing:border-box;}
html {height:100%;overflow:auto;}
body {position: relative;z-index: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display:block;}
img,fieldset,iframe {border:0;vertical-align:top;}
ul,ol,li,dl,dt,dd,nav,menu {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
i,em,address {font-style:normal;}
input,select,textarea {vertical-align:middle;color:#000;color:var(--font-color-base);border-radius:0;box-sizing:border-box;}
select option {font-weight:inherit;font-size:inherit;}
input:checked[type='checkbox'] {background-color:#666;-webkit-appearance:checkbox;}
input[type='checkbox'],input[type='radio'],input[type='file'],input[type='reset'],input+label,select {cursor:pointer;}
button,input[type='button'],input[type='image'],input[type='submit'] {font-weight:inherit;font-size:inherit;background:transparent;overflow:visible;white-space:nowrap;border:0;cursor:pointer;}
input[type='text'],input[type='password'],input[type='button'],input[type='submit'],
input[type='email'],input[type='tel'],input[type='search']/*::-webkit-search-cancel-button*/,button,textarea {appearance:none;-webkit-appearance:none;-moz-appearance:none;box-shadow:none;text-shadow:none;}
input[type='text'],input[type='password'],input[type='email'],input[type='tel'],input[type='search'] {border:1px solid #8c8c8c;}
textarea {resize:none;overflow:auto;}
a {display:block;text-decoration:none;color:#000;color:var(--font-color-base);}
a:hover,a:active {text-decoration:none;}
table {width:100%;border:0;border-spacing:0;table-layout:fixed;border-collapse:collapse;border-spacing:0;}
th,td {border:0;vertical-align:top;}
fieldset {display:block;min-width:0;}
legend,caption {position:absolute;left:-999px;width:1px;height:1px;font-size:1px;overflow:hidden;}
iframe {display:block;}
button {overflow:visible;padding:0;margin:0;border:0;cursor:pointer;background:none;}
section {position:relative;}

body ::selection {background:#fff;color:#000;text-shadow:none;}
body ::-moz-selection {background:#fff;color:#000;text-shadow:none;}

body ::placeholder {color:#b6b6b6;opacity:1;}/* Firefox 51+, Chrome 57+ */
body ::-webkit-input-placeholder {color:#b6b6b6;opacity:1;}/* Chrome 4–56 */
body :-moz-placeholder {color:#b6b6b6;opacity:1;}/* Firefox 4–18 */
body ::-moz-placeholder {color:#b6b6b6;opacity:1;}/* Firefox 19–50 */
body :-ms-input-placeholder {color:#b6b6b6;opacity:1;}/* IE 10+ */
body ::-ms-input-placeholder {color:#b6b6b6;opacity:1;}
body .placeholdersjs {color:#b6b6b6;opacity:1;}/* IE 8 */
body .placeholder {color:#b6b6b6;}/* select */

.div_table {display:table;width:100%;height:100%;}
.div_cell {display:table-cell;width:100%;height:100%;vertical-align:middle;}

/* .hide {position:absolute;left:-9999px;display:block;width:1px;height:1px;font-size:1px;overflow:hidden;}
.clearfix::after {content:'';display:block;clear:both;}
.pull-left, .fLeft   { float: left }
.pull-right, .fRight  { float: right }
.text-left {text-align:left}
.text-center, .tCenter {text-align:center}
.text-right {text-align:right}
.aventa {font-family:"Aventa"; letter-spacing:0;} 
.fadeInTop,
.fadeInTopItem {position:relative;top:40px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;transition:all 0.8s ease-in-out;}
.pRelative {position:relative}
.w47 {width:47%}
.w50 {width:50%}
.w98 { width: 98% }
.w99 { width: 99% }
.w100 { width: 100% }
*/
